@using Archie.Web.Models
@using Archie.Web.Helpers

@{
  ViewBag.Title = "Archie";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeModel

<h2>@Model.Message</h2>

@section Scripts
{
  @Html.JsonFor(x => x.Routes)

  <script type="text/javascript">
    $(document).ready(function () {
      var routesJson = $('input[name="Model/Routes"]').val();
      var routes = JSON.parse(routesJson);
      Url.registerRoutes(routes);
    });
  </script>
}
