@using Archie.Web.Models
@using Archie.Web.Helpers

@{
  ViewBag.Title = "Archie";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeModel

<div id="qunit"></div>
<div id="qunit-fixture"></div>

@section Scripts
{
  @Html.JsonFor(x => x.Routes)

  <script type="text/javascript">
    $(document).ready(function () {
      var routesJson = $('input[name="Model/Routes"]').val();
      var routes = JSON.parse(routesJson);
      Url.registerRoutes(routes);
    });
  </script>

  @Scripts.Render("~/Scripts/qunit-1.14.0.js")
  @Scripts.Render("~/Scripts/tests/tests.js")
}
