@using Luna.Web.Models

@{
  ViewBag.Title = "Luna";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeModel

<h2>@Model.Message</h2>

@section Scripts
{
  <script type="text/javascript">
    $(document).ready(function () {
      var page = new Luna.Web.Script.Pages.Page();
    });
  </script>
}
